.background-grey {
  background-color: rgba(200, 200, 200, 0.8);
}

.background-blue {
  background-color: blue;
}

.background-green {
  background-color: green;
}

.background-yellow {
  background-color: yellow;
}

.card {
  height: 300px;
  width: 300px;
}

.card-body {
  background-color: white;
  padding: 10px;
}

.card-picture {
  background-image: url('https://source.unsplash.com/random/400x300');
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-hover {
  background-color: white;
  padding: 10px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s ease-out;
}

.card-hover:hover {
  opacity: 0.8;
}

.card-likes {
  display: flex;
  justify-content: flex-end;
}

.card-likes span {
  margin-left: 5px;
}

.card-likes i {
  margin: 10px 5px 0 5px;
  color: rgba(200, 200, 200, 1);
}

.card-likes .card-comment:hover {
  color: rgba(100, 100, 100, 1)
}

.card-footer {
  padding: 10px;
  display: flex;
  align-items: center;
}

.card-footer a {
  margin: 0;
  margin-left: 10px;
  color: blue;
  opacity: 1;
}

.card-footer:hover {
  opacity: 0.8;
}

.card-picture {
  height:200px;
}
